// Global Settings
// ---------------

// Brand Colours
$navy-blue: #005593;
$teal: #00a5a1;
$light-blue: #00aeef;
$dark-blue: #01266C;

// System Colours
$color-primary: $navy-blue;
$color-secondary-2: $teal;
$color-secondary-3: $light-blue;
$color-secondary-4: $dark-blue;
$color-white: #fff;
$color-grey-medium: #727272;

// Typography
$font-weight-bold: 700;
$font-weight-normal: 400;
$text-uppercase: uppercase;

// UI Components
$border-radius-circle: 50%;

// Icons
$icon-font: 'sc-icons';

// Media Queries
$breakpoint-min: 20em;   // 320px
$breakpoint-xs: 30em;    // 480px
$breakpoint-sm: 40em;    // 640px
$breakpoint-md: 48em;    // 768px
$breakpoint-lg: 60em;    // 960px
$breakpoint-xl: 64em;    // 1024px
$breakpoint-xxl: 75em;   // 1200px
$breakpoint-max: 87.5em; // 1400px

// Banners - banner heights set at responsive breakpoints
$hero-image-sm: 250px; // Default
$hero-image-md: 300px; // 480px
$hero-image-lg: 480px; // 768px
$hero-image-xl: 600px; // 1200px
