// Banners
// -------
//
/// Gradient generator: https://cssgradient.io/
// 1. fallback for old browsers
// 2. Chrome 10-25, Safari 5.1-6
// 3. W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
// 4. Secondary banner height with default image

.hero {
  position: relative;
  height: $hero-image-sm;
  color: $color-white;
  background-color: $dark-gray;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	overflow: hidden;
	@extend %pseudo-inner-shadow;
}

.hero.hero-secondary {
	height: 250px; // 4
}

// Banner Content

.hero-title {
  position: relative;
	margin: 0;
	font-size: 1.75rem;
	line-height: 1.25;
  z-index: 2;
}

.hero .content {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
}


@media screen and (min-width: $breakpoint-xs) {
  .hero {
    //height: $hero-image-sm;
    background-size: cover;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .hero {
    height: $hero-image-sm;

    .content {
      padding-bottom: 70px;
    }
  }

  .hero-title {
    font-size: 2rem;
  }

}

@media screen and (min-width: $breakpoint-md) {

  .hero {
		height: $hero-image-md;

		.content {
			padding-bottom: 80px;
		}
	}

	.hero-title {
		font-size: 2.5rem;
	}

}

@media screen and (min-width: $breakpoint-lg) {

  .hero {
    height: $hero-image-lg;
  }

	.hero-title {
		font-size: 3rem;
	}

}

@media screen and (min-width: $breakpoint-2xl) {

  .hero {
    height: $hero-image-xl;
  }
}

@media screen and (min-width: $breakpoint-3xl) {
  .hero {
    background-size: cover;
  }
}

//.hero-title-wrap {
  //position: relative;
  //padding-top: 8px;
  //padding-bottom: 8px;
  //padding-right: 40px;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
	//   height: 100%;
  //   background-color: rgba($color-white, 0.7);
  //   z-index: 1;
  // }
//}
