// Base
// ----
//
// Sections
// Info Boxes
// Lists
//

// Sections

// section *:last-child {
//   margin-bottom: 0;
// }

// CTA Content

.content-cta {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
	max-width: 40em;

	.button {
		margin-top: 1rem;
	}
}

.button.cta-button {
	margin-top: 1rem;
}

// dssdsd

.section-feature {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .content-overlay {
    padding: 2rem 3rem;
    background-color: rgba($black, 0.35); 
  }
}

// Section Colours

.section-gray {
  background-color: $light-gray;
}

.section-inverse {
  color: $color-white;

  .content-cta-title {
    color: $color-white;
  }
}

.section-feature-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-feature-guide  {
  background-image: url(../img/hero/section-guide-large.jpg);
}

@media screen and (min-width: 40em) {
 
  .section-cta-inline {
    text-align: left;

    .cell-buttons {
      text-align: right;
    }
  }

}


// Info Boxes

.feature-box {
  margin-bottom: 2rem;
  padding: 1.125rem;
  background-color: $light-gray;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    font-weight: $font-weight-bold;
  }
}

.sc-carousel {
  margin-bottom: 2rem;
}


// Lists

.overview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  dt {
    flex-basis: 50%;
    padding-right: 0.5rem;
  }
  dd {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 640px) {
  .overview-list {
    dt, dd {
      flex-basis: 25%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .overview-list {
    dt, dd {
      flex-basis: auto;
    }
    dt {
      padding-left: 3rem;
    }
  }
}

.list-inline {
  li {
    display: inline-block;
  }
}

.list-unstyled {
  margin-left: 0;
  list-style: none;
}

.list-column-features {

  li {
    position: relative;
    margin-bottom: 1.25rem;
    padding-left: 2rem;
  }

  li::before {
    content: "\e906";
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0.5rem;
    color: $color-secondary-3;
    font-family: 'sc-icons';
  }
}

.list-column {
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;

  li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }
}

@media screen and (min-width: 640px) {

  .list-column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

}
