// Base
// ----
//
// Sections
// - Inline Search
// - Colours
// Info Boxes
// Lists
//

// Sections

// section *:last-child {
//   margin-bottom: 0;
// }

// CTA Content

.content-cta {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
	max-width: 50em;

	.button {
		margin-top: 1rem;
	}
}

.button.cta-button {
	margin-top: 1rem;
}

// dssdsd

.section-feature {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .content-overlay {
    padding: 2rem 3rem;
    background-color: rgba($black, 0.4); 
  }
}

// - Inline Search
// 1. hide labels visually using base Zurb class
// 2. reset height to match default size

.search {
	margin-bottom: 3rem;
	padding-top: 1rem;
	background-color: $dark-blue;

	label {
		@extend .show-for-sr; // 1
	}

	.input-group-field {
		height: 2.4375rem; // 2
	}
}

@media screen and (max-width: $breakpoint-xs-down) {

	.search {

		.input-group {
			flex-wrap: wrap;
		}

		.input-group-button {
			flex: 1 0 100%;
		}

		.button {
			width: 100%;
    	height: 2.4375rem;
    	margin-top: 1rem;
		}
	}

}

@media screen and (min-width: $breakpoint-xs) {

	.search {
		.input-group-button {
			margin-left: 0.5rem;
		}
	}
}

@media screen and (min-width: $breakpoint-sm) {

	.search {
		.cell + .cell {
			margin-left: 0.5rem; // add some space between cells
		}
	}
}

// - Colours

.section-bg-secondary-4 {
  background-color: $color-secondary-4;
}

.section-bg-grey {
  background-color: $light-gray;
}

.section-inverse {
  color: $color-white;

	.content-cta-title {
    color: $color-white;
  }
}

.section-feature-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-feature-guide  {
  background-image: url(../img/banners/section-guide-large.jpg);
}

@media screen and (min-width: 40em) {
 
  .section-cta-inline {
    text-align: left;

    .cell-buttons {
      text-align: right;
    }
  }

}


// Info Boxes

.feature-box {
  margin-bottom: 2rem;
  padding: 1.125rem;
  background-color: $light-gray;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  span {
    font-weight: $font-weight-bold;
  }
}

.sc-carousel {
  margin-bottom: 2rem;
}


// Lists

.overview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  dt {
    flex-basis: 50%;
    padding-right: 0.5rem;
    margin-bottom: 0;
  }
  dd {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .overview-list {
    dt, dd {
      flex-basis: 25%;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .overview-list {
    dt, dd {
      flex-basis: auto;
    }
    dt {
      padding-left: 3rem;
    }
  }
}

.list-inline {
  li {
    display: inline-block;
  }
}

.list-unstyled {
  margin-left: 0;
  list-style: none;
}

.list-column-features {

  li {
    position: relative;
    margin-bottom: 1.25rem;
    padding-left: 2rem;
  }

  li::before {
    content: "\e906";
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0.5rem;
    color: $color-secondary-3;
    font-family: 'sc-icons';
  }
}

.list-column {
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  border-top: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  margin-top: 1rem;
  padding-top: 1rem;

  li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }
}

@media screen and (min-width: $breakpoint-sm) {

  .list-column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

}

.spec-list li {
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $light-gray;

  span {
    font-weight: $font-weight-bold;
  }

}

@media screen and (min-width: $breakpoint-sm) {

.spec-list {
   column-count: 2;
   column-gap: 20px;
   column-count: 2;
   column-gap : 20px;
}

}
