// Blog
// ----
//
// Article
// Article feed
//


// Articles

.article {

	h1 {
		font-size: 2rem;
	}

	h2 {
		margin-top: $spacing-2xl;
		font-size: 1.5rem;
	}

	h3 {
		margin-top: $spacing-xl;
		font-size: 1.375rem;
		font-weight: $font-weight-medium;
	}

	article {
		ul, ol {
			margin-top: $spacing-xl;
			margin-bottom: $spacing-xl;
		}
		ul {
			list-style-image: url("data:image/svg+xml,<svg width='8' height='8' xmlns='http://www.w3.org/2000/svg'><circle cx='3' cy='3' r='3' fill='#00a5a1'/></svg>");
		}
		li {
			margin-bottom: $spacing-sm;
			padding-left: $spacing-sm;
		}
	}

	blockquote {
		margin: $spacing-xl 0;
		padding: $spacing-lg $spacing-xl;
		background-color: $color-light-grey;
		border-left: 4px solid $color-secondary-2;
		color: $black;
	}

	.meta {
		margin-top: $spacing-md;
		margin-bottom: $spacing-xl;
		color: $color-grey-medium;
	}

}

// Article Meta

.meta-category {
	display: block;

	a {
		color: $color-grey-medium;
		text-decoration: underline;
	}
}

// Article Media

article {
	figure {
		margin-top: $spacing-2xl;
	}
	figcaption {
		margin-top: $spacing-xs;
		color: $color-grey-medium;
		font-size: $text-small;
		text-align: center;
		a {
			color: $color-grey-medium;
			text-decoration: underline;
			&:hover {
				color: $color-grey-medium;
			}
		}
	}
}

// Aside

aside {
	margin-top: $spacing-2xl;
}

// Article feed

.article-list-header {
	margin-bottom: $spacing-4xl;
	padding-top: $spacing-2xl;
	font-size: 1.5rem;
	border-top: 1px solid $color-border;
}

.article-list-item {
	//display: flex;
	margin-bottom: $spacing-2xl;
}

.article-list-title {
	font-size: 1.25rem;
	a {
		color: $color-dark-grey;
		&:hover {
			color: $color-secondary-2;
		}
	}
}

@media screen and (max-width: $breakpoint-sm) {
	.article-list-title {
		margin-top: $spacing-md;
	}
}

.category-tag {
	display: block;
	margin-top: $spacing-md;
	margin-bottom: $spacing-xs;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: $color-secondary-2;
	font-weight: 600;
	//margin-left: $spacing-sm;

	// experimental pseudo element for visual decoration
	// &:before {
	// 	content: "";
	// 	display: inline-block;
	// 	width: 3px;
	// 	height: 12px;
	// 	position: relative;
	// 	top: 2px;
	// 	left: -8px;
	// 	background-color: $color-secondary-2;
	// 	-moz-transform-origin: center;
	// 	-ms-transform-origin: center;
	// 	-o-transform-origin: center;
	// 	transform-origin: center;
	// 	-moz-transform: skew(-28deg);
	// 	-ms-transform: skew(-28deg);
	// 	-o-transform: skew(-28deg);
	// 	transform: skew(-28deg);
	// }
}

@media screen and (max-width: $breakpoint-md-down) {

	.article {
		h1 {
			line-height: 1.2;
		}

		h2 {
			line-height: 1.25;
		}
	}

}

@media screen and (min-width: $breakpoint-sm) {

	.article {
		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.25rem;
		}
	}

	.article-list-item {
		display: flex;
	}

	.article-list-image {
		flex: 1 0 40%;
		margin-right: $spacing-xl;
	}

	.category-tag {
		margin-top: 0;
	}

}

@media screen and (min-width: $breakpoint-md) {

	.article-list-image {
		flex: 1 0 25%;
	}

}

@media screen and (min-width: $breakpoint-xl) {

	.article{
		article.cell {
			padding-right: $spacing-3xl;
		}
	}

}
