// Buttons
// -------

/// Background color on hover for buttons.
// $button-background-hover: scale-color($button-background, $lightness: -15%) !default;

.button {
  text-transform: uppercase;

  &.secondary,
  &.button-secondary-2 {
    color: $color-white;
    &:hover {
      color: $color-white; // prevent FZ override
    }
    &:focus {
      color: $color-white;
    }
  }

  &.button-secondary-2 {
    @include button-style($color-secondary-2, auto, $color-white);
  }
  &.button-secondary-3 {
    @include button-style($color-secondary-3, auto, $color-white);
  }
}

// Button with Icons

// Button with icon before text label
.button-icon-left {
  i {
    margin-right: 0.25rem;
    vertical-align: middle
  }
}

// Button with icon after text label
.button-icon-right {
  i {
    margin-left: 0.25rem;
    vertical-align: middle
  }
}
