// Buttons
// -------

.button {
  text-transform: uppercase;

  &.secondary {
    color: $color-white;
    &:hover {
      color: $color-white; // prevent FZ override
    }
  }
}

// Button with Icons

// Button with icon before text label
.button-icon-left {
  i {
    margin-right: 0.25rem;
    vertical-align: middle
  }
}

// Button with icon after text label
.button-icon-right {
  i {
    margin-left: 0.25rem;
    vertical-align: middle
  }
}
