// Footer
// ------

.footer {
  padding: 2.625rem 1rem;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-primary;

  a {
    color: $color-white;
    &:hover {
      opacity: 0.7;
    }
  }

  li {
    & + li {
      margin-left: 1rem;
    }
  }
}

// Primary Nav

.footer-nav {
  border-bottom: 1px solid rgba($color-white, 0.25);
}

// Social Nav

.footer-nav-social {
  font-size: 1.25rem;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: $color-primary;
    line-height: 1;
    background-color: $color-white;
    border-radius: $border-radius-circle;
  }
}
