// Forms
//
// Legend
// Labels
// Input Text
//


// Legend
legend.middle {
	margin: 0 0 1rem;
	padding: 0.5625rem 0;
}

// Labels
label {
	color: $color-dark-grey;
}

// Input Text
// 1. Reset default appearance on Mobile Safari, add more as needed
input[type='text'], [type='password'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], textarea, select {
	-webkit-appearance: none; // 1
}
