// Header
// ------

// Nav Wrapper

.sc-header {

	.top-bar {
		padding: $spacing-sm $spacing-md;
		background-color: $color-primary;
	}
	
	// Link Styles
	.menu {
		align-items: center;
		background-color: transparent; // Reset background colour
    z-index: 3;

		a {
			color: $color-white;
			font-weight: $font-weight-medium;
			text-transform: uppercase;

			&:hover {
				color: rgba($color-white, 0.7);
			}
		}

	}

	.menu-text {
		padding: 0;
	}

}

// Logo

.logo {
  width: auto;
  height: 34px;
}

// Secondary Nav

.top-bar {
  .top-bar-right {
    li + li {
      margin-left: $spacing-xs;
    }
  }
}

// Dropdown Nav

.dropdown.menu {

  .submenu {
    background-color: $color-secondary-3;
    border: 0;
    min-width: 250px;
  }

  // set appearance when dropdown tab is active
  .is-active {
    background-color: $color-secondary-3;

    > a {
      color: $color-white;
    }
  }

  // Resets to remove right arrow and custom padding
  > li.is-dropdown-submenu-parent > a {
    padding-right: $spacing-md;
  }

  li.is-dropdown-submenu-parent > a::after {
    content: none;
  }
}

.is-submenu-item {
  border-bottom: 1px solid rgba($color-white, 0.2);
  a {
    text-transform: none;
  }

  &:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 767px) {

  .top-bar {

    // Primary Nav
    .top-bar-left {
      flex: 1 0 50%;
      max-width: initial;
    }

    // Secondary Nav
    .top-bar-right {
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;

      .button-text {
        display: none;
      }

      .button-icon-left i {
        margin-right: 0;
      }
    }

  }

}

@media screen and (min-width: $breakpoint-md) {

  .top-bar {
    padding: $spacing-lg;
  }

  .sc-header .menu-text {
    margin-right: $spacing-lg;
  }

  .logo {
    height: 50px;
  }

}
