// Header
// ------

// Nav Wrapper

.top-bar {
  padding: 0.75rem 1rem;
  background-color: $color-primary;

  // Reset background colour
  .menu {
    align-items: center;
    background-color: transparent;
  }
}

// Logo

.logo {
  width: auto;
  height: 34px;
}

.menu .menu-text {
  padding: 0;
}

// Link Style

.menu {
  // default link styles
  a {
    color: $color-white;
    text-transform: uppercase;
    &:hover {
      color: rgba($color-white, 0.7);
    }
  }
}

// Primary Nav

// styles...

// Secondary Nav

.top-bar {
  .top-bar-right {
    li + li {
      margin-left: 0.5rem;
    }
  }
}


// Dropdown Nav

.dropdown.menu {

  .submenu {
    background-color: $color-secondary-3;
    border: 0;
    min-width: 220px;
  }

  // set appearance when dropdown tab is active
  .is-active {
    background-color: $color-secondary-3;

    > a {
      color: $color-white;
    }
  }

  // Resets to remove right arrow and custom padding
  > li.is-dropdown-submenu-parent > a {
    padding-right: 1rem;
  }

  li.is-dropdown-submenu-parent > a::after {
    content: none;
  }
}

.is-submenu-item {
  border-bottom: 1px solid rgba($color-white, 0.2);
  a {
    text-transform: none;
  }

  &:last-child {
    border-bottom: 0;
  }
}


@media screen and (max-width: 767px) {

  .top-bar {

    // Primary Nav
    .top-bar-left {
      flex: 1 0 50%;
      max-width: initial;
    }

    // Secondary Nav
    .top-bar-right {
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;

      .button-text {
        display: none;
      }

      .button-icon-left i {
        margin-right: 0;
      }
    }

  }

}

@media screen and (min-width: $breakpoint-md) {

  .top-bar {
    padding: 1.5rem;
  }

  .menu-text {
    margin-right: 1.5rem;
  }

  .logo {
    height: 50px;
  }

}
