// Global Settings
// ---------------

// Colours
$navy-blue: #005593;
$light-blue: #00aeeF;
$color-white: #fff;

// Typography
$font-weight-bold: 700;
$text-uppercase: uppercase;

// Hero Banner
// Banner heights set at responsive breakpoints
$hero-image-sm: 250px; // Default
$hero-image-md: 300px; // 480px
$hero-image-lg: 480px; // 768px
$hero-image-xl: 600px; // 1200px
