// Tabs
// ----

.page-tabs {

  .tabs {
		border: 0;
  }

  .tabs-content {
		padding-top: $spacing-3xl;
		border: 0;
  }
  
  .tabs-panel {
		padding: 0;
  }
}

// Tabs
// ----

.tabs-title {
  a {
		padding: 0 $spacing-sm 0;
		height: $tab-height;
		color: $black;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		font-size: 0.875rem;
		letter-spacing: 0.05rem;
		line-height: $tab-height;
	}

  & + .tabs-title {
		margin-left: $spacing-2xs;
	}

  > a[aria-selected='false'] {
		background: rgba($color-white, 0.7);
	}

  > a:hover[aria-selected='false'] {
		background-color: $color-white;
	}
}

.tabs-panel-title {
	margin-bottom: $spacing-lg;
}

@media screen and (min-width: $breakpoint-xl) {

	.page-tabs {
		position: relative;
		margin-top: -$tab-height;
		padding-top: 0;
	}

	.page-tabs-none {
		margin-top: 0;
	}

}

@media screen and (min-width: $breakpoint-xl) {

	.tabs-title {
		a {
			padding: 0 $spacing-lg 0;
		}

		& + .tabs-title {
			margin-left: $spacing-xs;
		}
	}

}
