// Typography
// ----------
//
// Headers
// Paragraphs
// Blockquotes
// Horizontal rule
//

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headers

h1 {
  color: $primary-color;
}

// Paragraphs

.text-lead {
  font-size: 1.25rem;
}

.text-small {
	font-size: 0.875rem;
}

// Blockquotes

blockquote {
  cite {
    padding-top: $spacing-md;
    font-size: initial;
  }
}

// Horizontal rule

hr {
	display: block;
	margin: $spacing-sm 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid $color-border;
	box-sizing: content-box;
}

@media screen and (min-width: $breakpoint-lg) {

	hr {
		margin: $spacing-xl 0;
	}

}
