// Typography
// ----------
//
// Headers
// Paragraphs
// Blockquotes
// Horizontal rule
//

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headers

h1 {
  color: $primary-color;
}
h2 {
  text-align: center;
  margin-bottom: $spacing-md;
}

// Paragraphs

.text-lead {
  font-size: 1.25rem;
}

.text-small {
	font-size: 0.875rem;
}

// Blockquotes

blockquote {
  cite {
    padding-top: $spacing-md;
    font-size: initial;
  }
}

// Horizontal rule

hr {
	display: block;
	margin: $spacing-sm 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid $color-border;
	box-sizing: content-box;
}

@media screen and (min-width: $breakpoint-lg) {

	hr {
		margin: $spacing-xl 0;
	}

}

.image-left, .image-right {
		margin: 1rem 0;
		width: 100%;
}
.image-left img, .image-right img {
		width: 100%;
}
.image-left p, .image-right p {
		font-size: 0.8rem;
}

@media screen and (min-width: $breakpoint-sm) {
	.image-left {
		float: left;
		margin: 0 1rem 1rem 0;
		width: 50%;
	}
	.image-right {
		float: right;
		margin: 0 0 1rem 1rem;
		width: 50%;
	}
}

@media screen and (min-width: $breakpoint-md) {
	.image-left {
		float: left;
		margin: 0 1rem 1rem 0;
		width: 33%;
	}
	.image-right {
		float: right;
		margin: 0 0 1rem 1rem;
		width: 33%;
	}
}
