// Typography
// ----------
//
// Headers
// Paragraphs
// Blockquotes
// Horizontal rule
//

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headers

h2 {
  color: $primary-color;
}

h3 {
  color: $primary-color;
}

// Paragraphs

.text-lead {
  font-size: 1.25rem;
}

// Blockquotes

blockquote {
  cite {
    padding-top: $spacing-md;
    font-size: initial;
  }
}

// Horizontal rule

hr {
	display: block;
	margin: $spacing-2xl 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid $medium-gray;
	box-sizing: content-box;
}
