// Helpers
// -------
// Typoraphy
// Flexbox
// Spacing
//


// Typoraphy

.fw-normal {
	font-weight: $font-weight-normal !important;
}

.fw-bold {
	font-weight: $font-weight-bold !important;
}

// Flexbox

.cell-center {
  align-self: center;
}

// Spacing

.mx-auto {
  margin: 0 auto;
}
